.main {
	height: 455px;
	width: 981px;
	background-color: pink;
	margin-left: 219px;
	margin-top: 10px;
}
.focus {
	width: 721px;
	height: 455px;
	float: left;
	background-color: blue;
}

.flash {
	width: 250px;
	height: 455px;
	float: right;
	background-color: purple;
}